/*
  $Id: stylesheet.css,v 1.56 2003/06/30 20:04:02 hpdl Exp $

  osCommerce, Open Source E-Commerce Solutions
  http://www.oscommerce.com

  Copyright (c) 2003 osCommerce

  Released under the GNU General Public License
*/


body {
background:url(images/template/bg.jpg);
  color: #6F6F6F;
  margin: 0px;
  font-size:12px;
  font-family:Arial;
}
a {color:#90999E;
outline:medium none;}
a:hover {text-decoration:none;}
form {display: inline;}
p{ font-size:11px;
line-height:16px;}
.enlarge{ text-decoration:none !important; text-align:left;margin:10px 0px 0px 40px;}

#head{background-image:url(images/template/bg_header.jpg);
background-repeat:no-repeat;
height:260px;
text-align:left;
width:1008px;}

.big_table{margin:0px 0 0;
width:1008px;/*background:url(images/template/bg_top.jpg) no-repeat;*/}
.BOX_WIDTH1{width:256px;padding:0px 0px 0px 0px;}
.BOX_WIDTH2{width:256px;padding:0px 0px 0px 0px;}
.mdl{width:1008px;background:url(images/template/bg_mdl.jpg) repeat-y;}
.mdl_index{}
.btm{/*background-image:url(images/template/btm.jpg);padding:0px 0px 0px 0px;*/ background-repeat:no-repeat; background-position:left bottom}
.new_products{padding:0px 0px 17px 0px;}
.otherpages{padding:0px 0px 10px 0px;}
.fL{ float:left;}
.cL{ clear:both;}
.block{ display:block}

.bg_left{background:url(images/template/bg_left.jpg) no-repeat right top;}
.bg_center{width:1008px; background-position:top}
.bg_right{background:url(images/template/bg_right.jpg) no-repeat left top;}
.img_border{ margin-top:-131px;}

.col_right{padding:0 0 0 11px;}
.col_right.ie{}

.head_bl_1{height:176px;}
.head_bl_2{padding-left:68px;}
.head_bl_3{width:315px;padding-top:10px;}
.head_bl_4{padding-left:66px;}
.head_bl_5{width:459px;padding-top:16px; }
.head_bl_6{width:244px;}
.head_bl_7{width:142px;}
.head_bl_8{width:184px;}
/**********MENU************/
#topmenu{padding:0px 0px 0px 30px;}
#topmenu ul{padding:0px 0px 0px 0px;margin:0px 0px 0px 0px; list-style-type:none}
#topmenu li{
	height:40px;
	line-height:40px;
	float:left;
	padding:0px 0px 0px 0px;
	margin:0px 9px 0px 0px;	
	
}
#topmenu a{
	display:block;
	background:url(images/template/menu_left_off.png) no-repeat;
	font-size:16px;	
	text-align:left;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-weight:bold;
}
#topmenu  span{padding:0px 19px; display:block}

#topmenu li.active{background:url(images/template/menu_mdl_on.jpg) repeat-x;}
#topmenu li.active a{background:url(images/template/menu_left_on.jpg) no-repeat left top;}
#topmenu li.active span{background:url(images/template/menu_right_on.jpg) no-repeat right;}


/**********SPECIAL BOXES***********/
.slider_top{background:url("images/template/slider.jpg") no-repeat scroll 0 0 transparent;
height:362px;
margin:0 0 31px;
width:1024px;}

/**********BOXES***********/

.box_language{margin-left:0px;padding-top:4px;}

.list_manufacturers{
background:none repeat scroll 0 0 #FFFFFF;
border:1px inset #000000;
color:#656565;
font-family:Tahoma;
height:20px;
margin:0;
padding:1px 0 0;
width:164px;
}

.search_input{	
background:none repeat scroll 0 0 transparent;
border:medium none;
color:#90999E;
font:11px/11px Arial;
padding:1px 0 0 6px;
width:124px;
margin:4px 0px 0px 0px;
}
.search_bg{background:url("images/template/bg_search.jpg") no-repeat scroll 0 0 transparent;
height:21px;
width:141px;}
.search_button{
padding:0 10px 0 5px;
}

.fon_x{}



.box_mdl_1{background:url("images/template/box_mdl_1.jpg") repeat-y scroll 0 0 transparent;
margin-bottom:5px;
width:233px;}	
.box_btm_1{background:url(images/template/box_btm_1.jpg) no-repeat left bottom; width:233px;}
.box_top_1{background:url(images/template/box_top_1.jpg) no-repeat;width:233px;}

.box_title_1{
color:#6F6F6F;
font:bold 14px/16px Arial;
text-decoration:none;
text-transform:uppercase;
}
.box_title_1 a{color:#6F6F6F !important;}
.box_title_1 span{display:block;
padding:23px 0 0 51px;}
.box_title_1 a{ text-decoration:none;color:#2C2C2C; }
.box_content_1{padding:35px 33px 19px;}
.box_content_1 .infoBox {
width:175px;
}


.box_mdl_2{background:url("images/template/box_mdl_1.jpg") repeat-y scroll 0 0 transparent;
margin-bottom:5px;
width:233px;}	
.box_btm_2{background:url(images/template/box_btm_1.jpg) no-repeat left bottom; width:233px;}
.box_top_2{background:url(images/template/box_top_1.jpg) no-repeat;width:233px;}

.box_title_2{
color:#6F6F6F;
font:bold 14px/16px Arial;
text-decoration:none;
text-transform:uppercase;
}
.box_title_2 a{color:#6F6F6F !important;}
.box_title_2 span{display:block;
padding:23px 0 0 51px;}
.box_title_2 a{ text-decoration:none;color:#2C2C2C; }
.box_content_2{padding:35px 23px 0;}
.box_content_2 .infoBox {
width:175px;
}

.box_new_mdl{background:url(images/template/box_new_mdl.jpg) repeat-y scroll 0 0 transparent;
margin-bottom:5px;
width:243px;}	
.box_new_btm{background:url(images/template/box_new_btm.jpg) no-repeat left bottom; width:243px;}
.box_new_top{background:url(images/template/box_new_top.jpg) no-repeat;width:243px;}
.box_new_content{margin-left:14px;
padding:17px 14px 0 0;
width:215px;}

.bg_content_mdl{background:url(images/template/bg_content_mdl.jpg) repeat-y; width:492px;}
.bg_content_btm{background:url(images/template/bg_content_btm.jpg) no-repeat left bottom; width:492px;}
.bg_content_top{background:url(images/template/bg_content_top.jpg) no-repeat; width:492px;}
.bg_content_inner{margin-left:14px;
padding:18px 0 132px;
width:461px;}

/*.box_column_mdl{background:url(images/template/box_column_mdl.jpg) repeat-y; width:208px;}
.box_column_btm{background:url(images/template/box_column_btm.jpg) no-repeat left bottom; width:208px;}
.box_column_top{background:url(images/template/box_column_top.jpg) no-repeat; width:208px;}
.box_column_content{padding:18px 0px 18px 0px;width:165px; margin-left:25px;}*/

.new_products{ margin-top:0px;}


.toolbar{background:url(images/template/bg_toolbar.jpg) no-repeat; width:1008px;height:97px; text-align:left}

.line_1{background:url(images/template/line_1.jpg) repeat-x; height:1px; margin:10px 0px 10px 0px;}
.line_2{background:url(images/template/line_2.jpg) repeat-x; height:1px; margin:10px 0px 10px 0px;}
/**********FONTS***********/

a.title{color:#F6F6F6;
font-family:arial;
font-size:30px;
letter-spacing:2px;
text-decoration:none;}
.slogan{ font-family:arial; font-size:12px; color:#FFFFFF; text-transform:capitalize }
.currenc {color:#000000;
font:12px arial;
text-decoration:none;}
a.shopping_cart{color:#ACB6B7;
font-size:13px;
font-weight:bold;
line-height:15px;
text-decoration:none;
text-transform:inherit;}
a.shopping_cart:hover{ text-decoration:none}
.items{color:#000000;
font-size:12px;
font-weight:normal;}
.items_price{color:#E78429;
font-size:12px;
font-weight:normal;font-weight:bold;}

.fmanufacturers{ font-size:11px; color:#C2C2C2;}
.fsearch{color:#000000;
font-size:12px;
margin:0 10px 0 0;}
a.fadvanced_search{ font-size:11px;margin-left:0px;color:#999999 ; text-transform:lowercase }

.topmenu{color:#676767; font-size:11px; }
a.topmenu{color:#676767;
font-size:12px;
margin:0 13px;
text-decoration:none;}
a.topmenu:hover{ text-decoration:underline}

a.topnavigation { font:12px/13px Arial; color:#888787; text-decoration:none}
a.topnavigation:hover {text-decoration:underline}

td.categor{/*background-image:url("images/template/line.jpg");*/
background-position:left bottom;
background-repeat:repeat-x;
padding-bottom:3px;}
a.categor {color:#6F6F6F;
font-family:arial;
font-size:12px;
text-decoration:none;}
a.categor:hover{ text-decoration:underline}
.main_menu{margin:0px 9px 2px 0px}

.ST3 { font:bold 11px/13px Tahoma;text-decoration:none;}
a.product_name {color:#6D6D6D;
font-family:Arial;
font-size:12px;
font-weight:bold;
text-decoration:none;
text-transform:inherit;}
a.product_name:hover{ text-decoration:underline}

a.description{ color:#6F6F6F;
font-size:12px;
line-height:16px;
text-decoration:none;}
a.description:hover{ text-decoration:underline}

a.readmore{color:#FFFFFF;
font-size:11px;}

s.special_price{ color:#949494;
font-size:14px;
font-weight:bold;}


td.infoBoxHeading, td.pageHeading, div.pageHeading,.pageHeading_info {
color:#6D6D6D;
font-family:Arial;
font-size:16px;
font-weight:bold;
padding:0 0 15px;
text-decoration:none;
text-transform:uppercase;
vertical-align:top;
}

.Price2 {color:#FF8211;
font-size:20px;}

.pageHeading .Price2{color:#FF8211; font-size:22px; font-weight:normal !important}
.pageHeading s{color:red !important;}
.new_products .Price2,.otherpages .Price2{color:#FF8211; font-weight:normal}
.pageHeading .Price2{color:#FF8211 !important;}
.productListing-data a{color:#000;}

.CR {color:#010000;
font-size:12px;}

.checkoutBarFrom, .checkoutBarTo {font-size: 10px; color: #8c8c8c; }
.checkoutBarCurrent {color:#fff;
font-size:10px; }


/****************************FOOTER****************************/
.bg_footer{text-align:left;}
.footer_inner{background:url("images/template/bg_footer.jpg") no-repeat scroll 0 0 transparent;
height:176px;
margin:0 0 0 0px;
text-align:left;
width:1008px;}
#footermenu{padding:0px 0 4px;}
#footermenu a, .footer_sep{
color:#FFFFFF;
font-size:11px;
line-height:19px;
text-decoration:none;
text-transform:inherit;
}
#footermenu a:hover{ text-decoration:underline}
.footer_sep{margin:0 22px;}




TABLE.productListing { border: 1px;  border-style: solid;  border-spacing: 0px;
  border-color: #EAF2CF;
}

.productListing-heading {font-family: Verdana, Arial, sans-serif;font-size: 10px; font-weight: bold;color: #FFFFFF;
  background: #EAF2CF;   color:#000;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Buttons Settings */
.az-template-button {
	white-space:nowrap;
}
.az-button-middle,.az-button-middle a{ text-decoration:none !important}
span.az-button-middle:hover{}
.az-button-left, .az-button-middle, .az-button-right,
.az-button-left2, .az-button-middle2, .az-button-right2{
  line-height:40px;
  height:40px;
  font-family: Arial;
  font-size:11px;
  font-weight:normal;
  color:#fff;
  padding:0;
  font-weight:bold;
  margin:0;
  vertical-align: bottom;
  display:inline-block;  
  cursor:pointer;

  
}

.azbutton_mid,.azbutton_mid2{
	font-family:Tahoma;
    font-size:11px;
    font-weight:normal;
    color:#D9D9D9;
	padding:0 0px 0 0px;
	font-weight:bold;
	white-space:nowrap;
	height:40px;
}
.az-button-left, .azbutton_left {
 background:url(images/template/btn_left.jpg) no-repeat;
  width:1px;
}
.az-button-middle, .azbutton_mid {
 background:url(images/template/btn_mdl.jpg) repeat-x;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
padding:0px 25px;
white-space:nowrap;
  text-transform:uppercase;
}
.az-button-right, .azbutton_right {
background:url(images/template/btn_right.jpg) no-repeat;
  width:1px;
}

.az-button-left2, .azbutton_lef2t {
 background:url(images/template/btn_left_2.jpg) no-repeat;
  width:1px;
}
.az-button-middle2, .azbutton_mid2 {
 background:url(images/template/btn_mdl_2.jpg) repeat-x;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
padding:0px 25px;
white-space:nowrap;
  text-transform:uppercase;
}
.az-button-right2, .azbutton_right2 {
background:url(images/template/btn_right_2.jpg) no-repeat;
  width:1px;
}



.azbutton,.azbutton2 {
	border:none;
	padding:0;
	background:none;
	overflow:visible;
	cursor:pointer;
}


TD.smallText, SPAN.smallText, P.smallText {  
  font-size: 10px;
  color:#fff;
}
TD.main, P.main {  
  font-size: 11px;
  line-height: 1.5;
}
TD.productListing-data {
color:#000000;
font-family:Verdana,Arial,sans-serif;
font-size:10px;
padding:3px 3px;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/




.boxText {}
.errorBox { font-family : Verdana, Arial, sans-serif; font-size : 10px; background: #ffb3b5; font-weight: bold; }
.stockWarning { font-family : Verdana, Arial, sans-serif; font-size : 10px; color: #cc0033; }
.productsNotifications { }
.orderEdit { font-family : Verdana, Arial, sans-serif; font-size : 10px; color: #70d250; text-decoration: underline; }




TR.header {
  background: #ffffff;
}

TR.headerNavigation {
  background: #bbc3d3;
}

TD.headerNavigation {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #bbc3d3;
  color: #ffffff;
  font-weight : bold;
}

A.headerNavigation { 
  color: #181818; 
  font-family:Tahoma;
  text-decoration:none;
  font-size:11px;
}

A.headerNavigation:hover {
  color: #FF4E00;
  text-decoration:underline;
}

TR.headerError {
  background: #ff0000;
}

TD.headerError {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  background: #ff0000;
  color: #ffffff;
  font-weight : bold;
  text-align : center;
}

TR.headerInfo {
  background: #00ff00;
}

TD.headerInfo {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  background: #00ff00;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

TR.footer {
  background: #bbc3d3;
}

TD.footer {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #bbc3d3;
  color: #ffffff;
  font-weight: bold;
}

.infoBox {
  
}

.infoBoxContents {

}

.infoBoxNotice {
 
}

.infoBoxNoticeContents {
  
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}



TD.infoBox, SPAN.infoBox {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productListing-odd, TR.productReviews-odd, TR.upcomingProducts-odd, TR.shippingOptions-odd {
  background: #f8f8f9;
}

TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productListing-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even {
  background: #f8f8f9;
}





A.pageResults {
  color: #0000FF;
}

A.pageResults:hover {
  color: #0000FF;
  background: #FFFF33;
}



TR.subBar {
  background: #f4f7fd;
}

TD.subBar {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  color: #000000;
}






TD.accountCategory {
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  color: #aabbdd;
}

TD.fieldKey {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

TD.fieldValue {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
}

TD.tableHeading {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

SPAN.newItemInCart {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  color: #ff0000;
}

CHECKBOX, INPUT, RADIO, SELECT {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
}

TEXTAREA {
  width: 100%;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
}

SPAN.greetUser {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #f0a480;
  font-weight: bold;
}

TABLE.formArea {
  background: #f1f9fe;
  border-color: #7b9ebd;
  border-style: solid;
  border-width: 1px;
}

TD.formAreaTitle {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

SPAN.markProductOutOfStock {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #c76170;
  font-weight: bold;
}

.productSpecialPrice {
  font-family: Tahoma;
  color:white;
  font-weight:bold;
}

SPAN.errorText {
  font-family: Verdana, Arial, sans-serif;
  color: #ff0000;
}

.moduleRow { }
.moduleRowOver { cursor: pointer; }
.moduleRowSelected {}



/* message box */

.messageBox { font-family: Verdana, Arial, sans-serif; font-size: 10px; }
.messageStackError, .messageStackWarning { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #ffb3b5; }
.messageStackSuccess { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #99ff00; }

/* input requirement */

.inputRequirement { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ff0000; }













